.char {
    display: flex;
}

.title{
    position: absolute;
    z-index: 1;
    color: white;
    align-items: center;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.specschar{
    position: absolute;
    width: 100%;
    color: white;
    top: 65%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;; 
}

.char911{
    padding: 0px 50px;
}

.char911text{
    padding-left: 14px;
}

.container911{
    position: relative;
}

.bigImg{
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.colorsContainer{
    display: flex;
}

.colors{
    display: flex;
}