.container {
    height: 80px;
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
}

.callButton{
    padding: 10px;
    min-width: 50px;
    min-height: 50px;
}

.letters {
    margin-left: 20px;
    filter: invert(1);
  }

.item{
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex: 3;
}

.texts{
    margin-left: 20px;
    color: white;
}

.text:first-child{
    font-size: 12px;
    font-weight: 500;
}

.text:last-child{
    font-size: 20px;
    font-weight: bold;
}

.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.listItem{
    margin: 25px;
    font-weight: 500;
    padding: 30px 0px;
}

.cart{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color: white;
}

.counter{
    margin: 25px;
    font-weight: 500;
}

.navbarButton{
    color: white;
    text-transform: 'initial';
    margin-left: 50px;
}




@media screen and (max-width:480px) {
    .item:nth-child(2){
        display: none;
    }

    .item:nth-child(1){
        flex: 3,
    }
    
}

 li:hover .megaBox {
    transition: all 0.3s ease;
    top: 80px;
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

.megaBox {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.content{
    background: white;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0px 16px 10px rgba(0, 0, 0, 0.15);
}

.row{
    margin-left: 40px;
    width: 25%;
    line-height: 1px;
}

.li{
    padding: 30px 0px;
}